@font-face {
  font-family: Agatho-Bold;
  src: url("./assets/fonts/agatho/Agatho_BoldCAPS.otf") format("opentype");
}

@font-face {
  font-family: Agatho-Semibold;
  src: url("./assets/fonts/agatho/Agatho_Narrow.otf") format("opentype");
}

@font-face {
  font-family: Agatho;
  src: url("./assets/fonts/agatho/Agatho_Light.otf") format("opentype");
}

body {
  margin: 0;
  font-family: Agatho;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: Agatho;
}

div#container {
  width: 100vw;
  height: 100vh;
}

div.hidden {
  display: none;
}

div.load {
  display: grid;
  place-items: center;

  width: 100vw;
  height: 100vh;
}

div.load div {
  display: grid;
  place-items: center;
}

div.load h1 {
  font-size: 60px;
  margin: 0;
}

div.load h2 {
  font-size: 30px;
  margin: 10px 0 20px 0;
}

span.text-project {
  position: absolute;
  font-size: 35px;
  z-index: 2;
}

span.text-project.launcherauto {
  top: 320px;
  left: 320px;
}

div.project {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  z-index: 999;
  color: black;
  opacity: 0;

  margin: 0 0 0 150px;
  width: 1000px;
  height: 100vh;
}

div.project h1 {
  font-family: Agatho-Bold;
  margin: 0 0 10px 0;
}

div.project h2 {
  font-family: Agatho-Semibold;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

div.project a {
  font-weight: bold;
  color: black;

  margin: 10px 0 0 0;
}

div.project button {
  border: 2px solid black;
  border-radius: 20px;
  background: none;
  cursor: pointer;
  color: black;

  margin: 20px 0 0 0;
  width: 100px;
  height: 40px;
}

div.project > div > div.description {
  margin: 25px 0 15px 0;
}

div.project p {
  margin: 5px 0;
  width: 500px;
}


@media (min-width: 320px) and (max-width: 768px) {
  div.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.8);

    margin: 0;
    width: 100vw;
  }
  
  div.project div {
    width: 80%;
  }
  
  div.project p {
    width: 100%;
  }
}
